.banner-sidebar {
  background-image: url("../img/banner-image.jpg");
  background-size: cover;
  background-position: center;
  background-color: $basic-green;
  padding-top: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 35px;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    background-image: url("../img/banner-image-2.jpg");
    flex-direction: row;
    min-height: 200px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/banner-image-3.jpg");
    min-height: 289px;
    margin-top: 0;
  }

  p {
    @include font(16px, 20px, $basic-white, 400, $secondary-font-family);
    text-align: center;
    padding: 35px 38px 16px 38px;
    position: relative;

    @media (min-width: $tablet-width) and (max-width: 1439px) {
      @include font-size(16px, 20px);
      padding: 0;
      width: 165px;
      text-align: left;
      position: absolute;
      right: 124px;
    }
  }

  img {
    @media (min-width: $tablet-width) {
      position: absolute;
      left: 80px;
    }

    @media (min-width: $desktop-width) {
      top: 55px;
    }
  }
}
