.catalog__grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 100px;
}

.catalog__title {
  @include font(24px, 37px, $basic-black);
  @include font-uppercase;
  text-align: left;
  padding-left: 75px;
  padding-top: 10px;
  padding-bottom: 14px;
}

.catalog__article--slim::before {
  @include size(50px, 53px);
  content: "";
  background-image: url("/img/catalog-cat-icon1.svg");
  background-repeat: no-repeat;
  position: absolute;
  display: block;
}


.catalog__article--pro::before {
  @include size(67px, 50px);
  content: "";
  background-image: url("/img/catalog-cat-icon2.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 15px;
}

.catalog__article {
  padding: 25px;
  position: relative;
  background-color: $basic-grey;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog__article p {
  @include font(14px, 18px, $special-dark-grey, 400, $secondary-font-family);
  position: relative;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 23px;
  border-bottom: 1px $grey-line solid;
}

.catalog__button {
  @include font(16px, 16px, $basic-black);
  @include font-uppercase;
  position: relative;
  display: inline-block;
  margin-top: 20px;
  padding-right: 40px;
  transition: all 0.35s ease-in-out;

  &::after {
    @include size(32px, 12px);
    content: "";
    background-image: url("/img/catalog-arrow.svg");
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 1px;
    transition: all 0.35s ease-in-out;
  }

  &:hover::after {
    transform: scale(1.1) translateX(5px);
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }
}
