.catalog__grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    padding-top: 80px;
    padding-bottom: 10px;
  }
}

.catalog__title {
  @include font(24px, 37px, $basic-black);
  @include font-uppercase;
  text-align: left;
  padding-left: 72px;
  padding-top: 8px;
  padding-bottom: 14px;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include font-size(36px, 36px);
    padding-left: 0;
    padding-top: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
  }
}

.catalog__article--slim::before {
  @include size(50px, 53px);
  content: "";
  background-image: url("../img/catalog-cat-icon1.svg");
  background-repeat: no-repeat;
  position: absolute;
  display: block;

  @media (max-width: $mobile-width-only) {
    left: 22px;
  }

  @media (min-width: $tablet-width) {
    /* @include background-size(200px, 212px); */
    @include size(200px, 212px);
    @include align-vertical();
    background-size: cover;
    right: 61px;
  }

  @media (min-width: $desktop-width) {
    @include size(100px, 106px);
    /* @include background-size(100px, 106px); */
    top: 95px;
    left: 52px;
  }
}


.catalog__article--pro::before {
  @include size(67px, 50px);
  content: "";
  background-image: url("../img/catalog-cat-icon2.svg");
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  top: 24px;

  @media (max-width: $mobile-width-only) {
    left: 13px;
  }

  @media (min-width: $tablet-width) {
    /* @include background-size(268px, 200px); */
    @include size(268px, 200px);
    @include align-vertical();
    background-size: cover;
    right: 28px;
    top: 52%;
  }

  @media (min-width: $desktop-width) {
    /* @include background-size(134px, 100px); */
    @include size(134px, 100px);
    top: 99px;
    left: 33px;
  }
}

.catalog__article {
  padding: 20px;
  padding-bottom: 17px;
  position: relative;
  background-color: $basic-grey;

  &:last-child {
    margin-bottom: 0;
  }

  /*   @media (min-width: $tablet-width) {
    padding: 53px;
    padding-bottom: 58px;
  } */

  @media (min-width: $tablet-width) {
    padding-left: 53px;
    padding-top: 61px;
    padding-bottom: 57px;
    padding-right: 51px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 63px;
    margin-bottom: 0;
  }
}

.catalog__article-description {
  @include font(14px, 18px, $special-dark-grey, 400, $secondary-font-family);
  position: relative;
  margin: 0;
  padding-top: 17px;
  padding-bottom: 23px;
  border-bottom: 1px $grey-line solid;

  @media (min-width: $tablet-width) {
    @include font-size(16px, 24px);
    border-bottom: none;
    padding-top: 13px;
    padding-right: 226px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-top: 60px;
  }
}

.catalog__article--pro .catalog__article-description {
  @media (min-width: $tablet-width) {
    padding-right: 263px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}

.catalog__button {
  @include font(16px, 16px, $basic-black);
  @include font-uppercase;
  position: relative;
  display: inline-block;
  margin-top: 18px;
  padding-right: 46px;
  transition: all 0.35s ease-in-out;

  @media (min-width: $tablet-width) {
    @include font-size(20px, 29px);
    padding-right: 55px;
    margin-top: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 5px;
    padding-right: 60px;
  }

  &::after {
    @include size(32px, 12px);
    @include align-vertical();
    content: "";
    background-image: url("../img/catalog-arrow.svg");
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    transition: all 0.35s ease-in-out;
    transform-origin: left center;
  }

  &:hover::after {
    transform: scale(1.1) translateX(5px) translateY(-5px);
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }
}
