.extra-products__heading {
  @include font(24px, 26px, $special-black);
  @include greenline();
  margin: 0;
  border-top: 1px $basic-light-grey solid;
  padding-top: 25px;
  padding-bottom: 35px;
  padding-right: 20px;
  padding-left: 20px;
  overflow: hidden;
  position: relative;

  @media (min-width: $tablet-width) {
    @include padding-left-right(0, 0);
    border-top: none;
  }

  span {
    display: inline-block;
    position: relative;
    max-width: 181px;

    @media (min-width: $tablet-width) {
      @include font-size(36px, 36px);
      display: inline;
      padding-left: 65px;
    }
  }
}

.extra-products__title {
  @include font(16px, 16px, $special-dark-grey-2);
  @include font-uppercase;
  margin: 0;
  padding-bottom: 8px;
  padding-top: 25px;

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.extra-products__description {
  display: flex;
  justify-content: space-between;
}

.extra-products__item {
  border-top: 1px $special-grey solid;

  &:first-child {
    border-top: none;

    @media (min-width: $desktop-width) {
      border-top: 1px $special-grey solid;
    }
  }

  &:last-child {
    border-bottom: 1px $special-grey solid;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    justify-content: space-between;
    align-items: first baseline;
    grid-template-columns: 285px 1fr 244px;
    gap: 40px;
  }
}

.extra-products__description p {
  @include font(14px, 14px, $special-dark-grey, 400, Arial);
  margin: 0;
  padding-bottom: 10px;
  padding-top: 5px;
}

.extra-products__button {
  margin-bottom: 25px;

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 8px 26px 9px 26px;
  }
}

.extra-products__grid {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 80px;
    padding-top: 40px;
    padding-bottom: 50px;
  }
}
