.extra-products__heading span {
  @include font(24px, 26px, $special-black);
  @include greenline();
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

.extra-products__heading {
  border-top: 1px $basic-light-grey solid;
  padding-top: 25px;
  margin: 0;
}

.extra-products__title {
  @include font(16px, 16px, $special-dark-grey-2);
  @include font-uppercase;
  margin: 0;
  padding-bottom: 8px;
  padding-top: 25px;
}

.extra-products__description {
  display: flex;
  justify-content: space-between;
}

.extra-products__item {
  border-top: 1px $special-grey solid;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: 1px $special-grey solid;
  }
}

.extra-products__description p {
  @include font(14px, 14px, $special-dark-grey, 400, Arial);
  margin: 0;
  padding-bottom: 10px;
  padding-top: 5px;
}

.extra-products__button {
  margin-bottom: 25px;
}
