.fieldset-container {
  padding: 0;
  margin: 0;
  border: 0;
}

.fieldset-container h2 {
  @include font(14px, 18px, $special-black);
  @include font-uppercase;
  padding-left: 20px;
  margin: 0;
}

.fieldset-container label,
.fieldset-container__form-input,
.fieldset-container__form-input::placeholder,
.fieldset-container__form-input:required {
  @include font(16px, 18px, $special-dark-grey);
  @include font-uppercase;
}

.fieldset-container__form-input::placeholder {
  opacity: 1;
}

.fieldset-container label {
  padding-right: 13px;
  flex-shrink: 0;
}

.fieldset-container__input-wrap {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  position: relative;
}

.fieldset-container__border {
  border-bottom: 1px $basic-light-grey solid;
  border-top: 1px $basic-light-grey solid;
}

.fieldset-container__column1 {
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
}

.fieldset-container legend {
  border: 0 none;
}

.fieldset-container__column2 {
  border-left: none;
  border-right: none;
  margin: 0;
  border-bottom: 1px $basic-light-grey solid;
  border-top: 1px $basic-light-grey solid;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
}

.fieldset-container__input-wrap input {
  height: 46px;
  padding: 13px 50px 13px 13px;
  width: 100%;
  border: 1px solid $basic-light-grey;
  position: relative;
}

.fieldset-container__form-message-field {
  width: 100%;
  border: 1px solid $basic-light-grey;
  padding: 13px;
}

.fieldset-container__filter-option {
  position: relative;
  padding-bottom: 15px;
  padding-top: 5px;
}

.fieldset-container__filter-input-radio {
  +label::before {
    @include size(30px, 31px);
    content: "";
    position: absolute;
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 0;
    top: 0;
  }

  &:checked {
    +label::before {
      content: "";
      background-image: url("../img/radio-on.svg");
    }
  }
}

.fieldset-container__filter-input-checkbox {
  +label::before {
    @include size(30px, 30px);
    content: "";
    position: absolute;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 0;
    top: 0;
  }

  &:checked {
    +label::before {
      @include size(30px, 30px);
      content: "";
      position: absolute;
      background-image: url("../img/checkbox-on.svg");
    }
  }
}

.fieldset-container__filter-label {
  padding-left: 45px;
}

.fieldset-container__title {
  @include font(24px, 26px, $special-black);
  margin: 0;
  padding-bottom: 38px;
  padding-right: 20px;
  padding-left: 20px;
  overflow: hidden;
  padding-top: 25px;
  position: relative;

  span {
    display: inline-block;
    position: relative;
    max-width: 181px;
  }

  &::after {
    content: "";
    display: inline-block;
    position: relative;
    width: 100%;
    height: 4px;
    background-color: $basic-green;
    margin-right: -100%;
    right: -14px;
    top: -5px;
  }
}

.fieldset-container__form-mail {
  background-image: url("../img/icon-email.svg");
  background-repeat: no-repeat;
  background-position: right 15px top 15px;
}

.fieldset-container__form-phone {
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: right 13px top 15px;
}
