.footer-social {
  padding-top: 20px;
  position: relative;
  border-bottom: 1px #d9d9d9 solid;
  padding-bottom: 18px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    border-bottom: none;
    align-items: baseline;
    padding-left: 6px;
  }

  @media (min-width: $desktop-width) {
    align-items: baseline;
    padding-top: 18px;
    padding-left: 6px;
  }
}

.footer-social li {
  display: inline-block;
  padding-right: 35px;

  &:last-child {
    padding-right: 0;
  }

  @media (min-width: $tablet-width) {
    padding-right: 0;
    padding-left: 24px;
  }
}

.footer-social__svg-icon,
.footer-social__svg-icon2 {
  transition: all 0.35s ease-in-out;
}

.footer-social__link {
  height: 22px;
  display: block;
  fill: $special-grey-3;

  &:hover .footer-social__svg-icon {
    fill: $basic-green;
  }

  &:focus .footer-social__svg-icon,
  &:active .footer-social__svg-icon {
    fill: $basic-green;
    opacity: 0.3;
  }

  &:hover .footer-social__svg-icon2 {
    stroke: $basic-green;
  }

  &:focus .footer-social__svg-icon2,
  &:active .footer-social__svg-icon2 {
    stroke: $basic-green;
    opacity: 0.3;
  }
}


.footer-social__link--vk svg {
  @media (min-width: $tablet-width) {
    @include size(30px, 33px);
  }
}

.footer-social__link--instagram svg {
  @media (min-width: $tablet-width) {
    @include size(23px, 33px);
  }
}

.footer-social__link--facebook svg {
  stroke: $special-grey-3;

  @media (min-width: $tablet-width) {
    @include size(30px, 39px);
  }
}


.footer-social__svg-icon2 {
  fill: $special-grey-2;
}
