.footer-social {
  padding-top: 14px;
  position: relative;
  border-bottom: 1px $grey-line solid;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    border-bottom: none;
  }
}

.footer-social li {
  display: inline-block;
  padding-right: 25px;

  &:last-child {
    padding-right: 0;
  }
}

.footer-social__svg-icon path,
.footer-social__svg-icon2 path {
  transition: all 0.35s ease-in-out;
}

.footer-social__link {
  height: 22px;
  display: block;

  &:hover .footer-social__svg-icon path {
    fill: $basic-green;
  }

  &:focus .footer-social__svg-icon path,
  &:active .footer-social__svg-icon path {
    fill: $basic-green;
    opacity: 0.3;
  }

  &:hover .footer-social__svg-icon2 path {
    stroke: $basic-green;
  }

  &:focus .footer-social__svg-icon2 path,
  &:active .footer-social__svg-icon2 path {
    stroke: $basic-green;
    opacity: 0.3;
  }
}
