.footer-social {
  padding-top: 25px;
  position: relative;
  border-bottom: 1px $grey-line solid;
  padding-bottom: 18px;
}

.footer-social__list li {
  display: inline-block;
  padding-right: 25px;

  &:last-child {
    padding-right: 0;
  }
}
