.form__description {
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
  }
}

.form__button {
  width: 280px;
  border: none;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.form__fieldset-wrap {
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    @include padding-left-right(70px, 65px);
  }
}

.form__feature {
  padding-top: 25px;
  padding-bottom: 25px;

  @media (min-width: $desktop-width) {
    flex-grow: 1;

    .form__fieldset-wrap {
      padding-right: 0;
    }
  }
}

.form__contacts {
  padding-top: 25px;

  &--option {
    @media (min-width: $desktop-width) {
      display: flex;
      gap: 80px;
    }
  }
}

.form__specifications {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    gap: 80px;
  }
}

.form__options {
  padding-bottom: 35px;
}

.form__fieldset {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  border: 0;
}

.form__fieldset-title {
  @include font(24px, 26px, $special-black);
  @include greenline();
  margin: 0;
  padding-bottom: 35px;
  padding-right: 20px;
  padding-left: 20px;
  overflow: hidden;
  position: relative;

  @media (min-width: $tablet-width) {
    @include padding-left-right(0, 0);
  }

  span {
    display: inline-block;
    position: relative;
    max-width: 181px;

    @media (min-width: $tablet-width) {
      @include font-size(36px, 36px);
      display: inline;
      padding-left: 65px;
    }
  }
}

.form__input {
  @include font(16px, 18px, $special-dark-grey);
  @include font-uppercase;
  height: 46px;
  padding: 13px 50px 13px 13px;
  width: 100%;
  border: 1px solid $basic-light-grey;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 25px 50px 25px 20px;
  }

  &::placeholder {
    color: $special-dark-grey;
  }

  &:focus {
    border-color: $special-dark-grey;

    ~.form__fieldset-container--icon-phone path {
      fill: $basic-green;
    }

    ~.form__fieldset-container--icon-mail {
      path {
        fill: $basic-green;
      }

      line {
        stroke: $basic-green;
      }
    }
  }
}

.form__fieldset-container--icon-phone {
  fill: $basic-green;
}

.form__label {
  @include font(16px, 18px, $special-dark-grey);
  @include font-uppercase;
  padding-right: 13px;
  flex-shrink: 0;
}

.form__fieldset-container {
  margin-bottom: 10px;
  display: flex;
  position: relative;
  align-items: baseline;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
  }
}

.form__fieldset-container--icon {
  position: relative;

  svg {
    position: absolute;
    top: 15px;
    right: 15px;

    @media (min-width: $tablet-width) {
      top: 19px;
      right: 19px;
    }
  }
}

.form__options-label {
  @include font(16px, 18px, $special-dark-grey);
  @include font-uppercase;
  padding-left: 45px;
  padding-bottom: 10px;
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    padding-left: 59px;
    padding-bottom: 8px;
    padding-top: 10px;
  }
}

.form__options-input--radio {
  &:hover {
    +label::before {
      @include size(30px, 30px);
      border: 1px $grey-hover solid;

      @media (min-width: $tablet-width) {
        @include size(40px, 40px);
      }
    }
  }

  +label::before {
    @include size(30px, 30px);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border: 1px $special-grey solid;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      @include size(40px, 40px);
    }
  }

  &:disabled {
    +label {
      opacity: 0.3;
    }
  }

  &:checked {
    &:hover {
      +label::before {
        border: 1px $grey-hover solid;
      }
    }

    +label::before {
      @include size(30px, 30px);
      content: "";
      border: 1px $special-grey solid;
      border-radius: 50%;

      @media (min-width: $tablet-width) {
        @include size(40px, 40px);
      }
    }

    +label::after {
      @include size(14px, 14px);
      content: "";
      position: absolute;
      left: 8px;
      top: 8px;
      border-radius: 50%;
      background-color: $basic-green;

      @media (min-width: $tablet-width) {
        @include size(18px, 18px);
        left: 11px;
        top: 11px;
      }
    }
  }
}

.form__options-input--checkbox {
  &:hover {
    +label::before {
      @include size(30px, 30px);
      border: 1px $grey-hover solid;

      @media (min-width: $tablet-width) {
        @include size(40px, 40px);
      }
    }
  }

  +label::before {
    @include size(30px, 30px);
    content: "";
    position: absolute;
    border: 1px $special-grey solid;
    left: 0;
    top: 0;

    @media (min-width: $tablet-width) {
      @include size(40px, 40px);
    }
  }

  &:disabled {
    +label {
      opacity: 0.3;
    }
  }

  &:checked {
    &:hover {
      +label::before {
        border: 1px $grey-hover solid;
      }
    }

    +label::before {
      @include size(30px, 30px);
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border: 1px $special-grey solid;

      @media (min-width: $tablet-width) {
        @include size(40px, 40px);
      }
    }

    +label::after {
      @include size(30px, 30px);
      content: "";
      position: absolute;
      left: 2px;
      top: 2px;
      background-image: url("../img/tick.svg");

      @media (min-width: $tablet-width) {
        left: 7px;
        top: 7px;
      }
    }
  }
}

.form__programm {
  border-left: none;
  border-right: none;
  margin: 0;
  border-bottom: 1px $basic-light-grey solid;
  border-top: 1px $basic-light-grey solid;
  padding-top: 25px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    border: none;
    padding-left: 70px;
    padding-right: 65px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    padding-left: 0;
  }

  .form__fieldset-wrap {
    @media (min-width: $tablet-width) {
      border: 1px $basic-light-grey solid;
      padding: 25px;
    }
  }
}

.form__textarea {
  width: 100%;
  border: 1px solid $basic-light-grey;
  padding: 13px;
  min-height: 150px;
  resize: none;
}

.form__fieldset-checkboxes {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    grid-row-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.form__button-area {
  @media (min-width: $tablet-width) {
    @include padding-left-right(70px, 65px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    grid-row-gap: 20px;
  }
}
