.form__description {
  text-align: center;
}

.form__button {
  width: 280px;
  border: none;
}

.form__fieldset-wrap {
  padding-right: 20px;
  padding-left: 20px;
}

.form__feature {
  padding-top: 25px;
  padding-bottom: 25px;
}

.form__contacts {
  padding-top: 25px;
}

.form__options {
  padding-bottom: 35px;
}

.form__fieldset {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  border: 0;
}

.form__fieldset-title {
  @include font(24px, 26px, $special-black);
  @include greenline();
  margin: 0;
  padding-bottom: 35px;
  padding-right: 20px;
  padding-left: 20px;
  overflow: hidden;
  position: relative;

  span {
    display: inline-block;
    position: relative;
    max-width: 181px;
  }
}

.form__input {
  @include font(16px, 18px, $special-dark-grey);
  @include font-uppercase;
  height: 46px;
  padding: 13px 50px 13px 13px;
  width: 100%;
  border: 1px solid $basic-light-grey;
  position: relative;
}


.form__label {
  @include font(16px, 18px, $special-dark-grey);
  @include font-uppercase;
  padding-right: 13px;
  flex-shrink: 0;
}

.form__input::placeholder {
  color: $special-dark-grey;
}

.form__fieldset-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__fieldset-container--mail input {
  background-image: url("../img/icon-email.svg");
  background-repeat: no-repeat;
  background-position: right 15px top 15px;
}

.form__fieldset-container--phone input {
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: right 15px top 15px;
}

.form__options-label {
  @include font(16px, 18px, $special-dark-grey);
  @include font-uppercase;
  padding-left: 45px;
  padding-bottom: 10px;
  padding-top: 5px;
}

.form__options-input--radio {
  +label::before {
    @include size(30px, 31px);
    content: "";
    position: absolute;
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 0;
    top: 0;
  }

  &:checked {
    +label::before {
      content: "";
      background-image: url("../img/radio-on.svg");
    }
  }
}

.form__options-input--checkbox {
  +label::before {
    @include size(30px, 30px);
    content: "";
    position: absolute;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 0;
    top: 0;
  }

  &:checked {
    +label::before {
      @include size(30px, 30px);
      content: "";
      position: absolute;
      background-image: url("../img/checkbox-on.svg");
    }
  }
}

.form__programm {
  border-left: none;
  border-right: none;
  margin: 0;
  border-bottom: 1px $basic-light-grey solid;
  border-top: 1px $basic-light-grey solid;
  padding-top: 25px;
  padding-bottom: 25px;
}

.form__textarea {
  width: 100%;
  border: 1px solid $basic-light-grey;
  padding: 13px;
  min-height: 150px;
  resize: none;
}
