.howitworks__list {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 100px;
  padding-top: 37px;
  padding-bottom: 46px;

  @media (min-width: $tablet-width) {
    counter-reset: section;
    grid-template-columns: 1fr 1fr;
    row-gap: 75px;
    column-gap: 100px;
    padding-top: 70px;
    padding-bottom: 115px;
  }

  @media (min-width: $desktop-width) {
    counter-reset: section;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 137px;
    column-gap: 80px;
    padding-top: 70px;
    padding-bottom: 55px;
  }
}

.howitworks__item {
  padding-left: 80px;
  position: relative;
  min-height: 74px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-top: 90px;
    padding-bottom: 80px;
    min-height: 162px;
  }
}

.howitworks__icon::before {
  @include size(60px, 60px);
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.howitworks__icon1::before {
  background-image: url("../img/howitworks-icon1.svg");
}

.howitworks__icon2::before {
  background-image: url("../img/howitworks-icon2.svg");
}

.howitworks__icon3::before {
  background-image: url("../img/howitworks-icon3.svg");
}

.howitworks__icon4::before {
  background-image: url("../img/howitworks-icon4.svg");
}

.howitworks__description {
  @include font(14px, 18px, $special-dark-grey, 400, $secondary-font-family);
  margin: 0 auto;
  z-index: 1;

  @media (min-width: $tablet-width) {
    @include font-size(16px, 24px);
    margin-right: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.howitworks__counter {
  @media (min-width: $tablet-width) {
    @include font(280px, 280px, $basic-grey);
    position: absolute;
    left: 118px;
    top: -38px;
    z-index: -1;

    &::before {
      counter-increment: section;
      content: counters(section, ".");
    }
  }
}
