.liveview {
  background-color: $section-grey;
}

.liveview__achievements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  padding-top: 10px;
}

.liveview__cats-wrapper img {
  display: block;
  margin: auto;
}

.liveview__description {
  padding-top: 20px;
}

.liveview__description p {
  @include font(14px, 18px, $special-dark-grey, 400, $secondary-font-family);
}

.liveview__fieldset span {
  @include font(24px, 24px, $basic-black);
  @include font-uppercase;
  display: block;
  text-align: center;
  padding: 5px;
}

.liveview__fieldset {
  position: relative;
  box-sizing: border-box;
  border: solid $special-grey 1px;
  border-radius: 3px;
  height: 56px;
}

.liveview__fieldset legend {
  @include font(12px, 12px, $special-dark-grey, 400, $secondary-font-family);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 0 15px;
  background: $section-grey;
  text-align: center;
}

.liveview__subtitle {
  display: grid;
  grid-template-columns: 55% 45%;
  column-gap: 10px;
}

.liveview__subtitle p {
  @include font(14px, 20px, $basic-black);
  @include font-uppercase;
  text-align: right;
}

.liveview__subtitle p:last-child {
  text-align: left;
}

.liveview__compare {
  display: flex;
  justify-content: center;
  align-items: center;
}

.liveview__compare p {
  @include font(16px, 20px, $basic-black);
  @include font-uppercase;
  padding: 0 10px 0 10px;
}

.liveview__line {
  @include size(84px, 14px);
  background-color: $basic-white;
  border: 1px solid $special-grey;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
  margin: 0 2px 0 2px;

  &::before {
    @include size(35px, 6px);
    content: "";
    background-color: $basic-green;
    box-sizing: border-box;
    border-radius: 6px;
    position: absolute;
    top: 3px;
    left: 10px;
  }
}
