.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-top: 42px;
  background-color: $basic-white;
}

.main-nav__list li {
  position: relative;

  &:last-child {
    padding-bottom: 0;
  }

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    height: 1px;
    background: $grey-line;
    left: 0;
    width: 100%;
    bottom: 15px;
  }
}

.site-list__item {
  padding-bottom: 25px;
}

.main-nav {
  text-align: right;
}

.main-nav__toggle {
  display: inline-block;
  background-color: $basic-black;
  width: 24px;
  height: 3px;
  padding: 0;
  margin-top: 20px;
  border: none;
  cursor: pointer;

  &::before {
    transform: translate(0, -9px);
    content: "";
    display: block;
    background-color: $basic-black;
    width: 24px;
    height: 3px;
  }

  &::after {
    transform: translate(0, 6px);
    content: "";
    display: block;
    background-color: $basic-black;
    width: 24px;
    height: 3px;
  }
}

.main-nav__toggle-close {
  background-color: $basic-white;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;

  &::before {
    transform-origin: 9px -6px;
    transform: rotate(45deg);
    content: "";
    display: block;
    background-color: $basic-black;
    width: 27px;
    height: 3px;
  }

  &::after {
    transform-origin: 8px 8px;
    transform: rotate(-45deg);
    content: "";
    display: block;
    background-color: $basic-black;
    width: 27px;
    height: 3px;
  }
}
