.main-nav__list {
  align-items: center;

  @media (max-width: $mobile-width-only) {
    background-color: $basic-white;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.main-nav {
  text-align: right;
}

.main-nav--closed .main-nav__toggle {
  @include size(24px, 2px);
  display: inline-block;
  position: absolute;
  background-color: $basic-black;
  padding: 0;
  border: none;
  cursor: pointer;
  top: 30px;
  right: 20px;

  &::before {
    @include size(24px, 2px);
    transform: translate(0, -9px);
    content: "";
    display: block;
    background-color: $basic-black;
  }

  &::after {
    @include size(24px, 2px);
    transform: translate(0, 6px);
    content: "";
    display: block;
    background-color: $basic-black;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .site-list {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  background-color: $basic-white;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 20px;
  right: 23px;

  &::before {
    transform-origin: 9px -6px;
    transform: rotate(45deg);
    content: "";
    display: block;
    background-color: $basic-black;
    width: 27px;
    height: 3px;
  }

  &::after {
    transform-origin: 8px 8px;
    transform: rotate(-45deg);
    content: "";
    display: block;
    background-color: $basic-black;
    width: 27px;
    height: 3px;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}


.main-nav--nojs .site-list {
  @media (max-width: $mobile-width-only) {
    display: block;
  }
}

.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
