.main-nav__list {
  align-items: center;

  @media (max-width: $mobile-width-only) {
    background-color: $basic-white;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.main-nav {
  text-align: right;
  height: 5px;
}

.main-nav__toggle {
  @include size(24px, 24px);
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle-button {
  @include size(24px, 2px);
  display: inline-block;
  background-color: $basic-black;
  transition: all 0.35s ease-in-out;
  z-index: 2;

  &::before {
    @include size(24px, 2px);
    transform: translate(0, -9px);
    content: "";
    display: block;
    background-color: $basic-black;
    transition: all 0.35s ease-in-out;
  }

  &::after {
    @include size(24px, 2px);
    transform: translate(0, 6px);
    content: "";
    display: block;
    background-color: $basic-black;
    transition: all 0.35s ease-in-out;
  }

  &.openned {
    @include size(24px, 24px);
    background-color: $basic-white;
    padding-top: 15px;

    &::before {
      transform-origin: 12px -2px;
      transform: rotate(45deg);
      width: 27px;
    }

    &::after {
      transform-origin: 10px 3px;
      transform: rotate(-45deg);
      width: 27px;
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}


.main-nav--closed .site-list {
  @media (max-width: $mobile-width-only) {
    transition: all 0.75s ease-in-out;
    position: relative;
    top: -300px;
  }
}

.main-nav--closed .page-header__top {
  transition: all 0.75s ease-in-out;
  height: 70px;
}

.main-nav--opened .site-list {
  @media (max-width: $mobile-width-only) {
    position: relative;
  }
}

.main-nav--nojs .site-list {
  @media (max-width: $mobile-width-only) {
    display: block;
    top: -2px;
  }
}
