// Начните писать стили здесь
.page-header {
  background-color: $basic-white;
}

.page-header__top {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.page-header__logo {
  display: flex;
  justify-content: space-between;
}

.page-header__title {
  @include font(36px, 36px, $basic-white);
  text-align: center;
}

.page-header__subtitle {
  @include font(14px, 14px, $basic-white);
  text-transform: uppercase;
  text-align: center;
}

.page-header__promo {
  background-image: url("../img/promo.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-header__image {
  margin: auto;
  display: flex;
  justify-content: center;
  order: 1;
}

.page-header__button {
  order: 2;
  width: 280px;
}
