.page-header {
  background-color: $basic-white;
  position: relative;
}

.page-header__content {
  margin: 0 auto;
  position: relative;
  padding-bottom: 180px;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: auto;
    padding-bottom: 110px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 60px;
    width: 100%;
  }
}

.page-header__content-text {
  background: linear-gradient(to top, $background-overlay, $background-overlay),
    url("../img/promo-small.jpg");
  background-size: cover;
  background-position: center;
  background-color: $basic-green;
  position: relative;
  top: 0;
  width: 100%;

  @media (min-resolution: 2dppx) {
    background: linear-gradient(to top, $background-overlay, $background-overlay),
      url("../img/promo-small@2x.jpg");
    background-size: cover;
    background-position: center;
    background-color: $basic-green;
    position: relative;
  }

  @media (min-width: $tablet-width) {
    background-image: none;
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(90deg, $basic-white 50%, $background-overlay 50%), url("../img/promo-big.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-color: $basic-green;
    position: relative;
    top: -40px;
    width: 100%;
    height: 694px;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(90deg, $basic-white 50%, $background-overlay 50%), url("../img/promo-big@2x.jpg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
      background-color: $basic-green;
      position: relative;
      top: -40px;
      width: 100%;
      height: 694px;
    }
  }
}

.page-header__top {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  &--absolute {
    @media (min-width: $desktop-width) {
      position: absolute;
      width: 100%;
      top: 0;
      z-index: 1;
    }
  }
}

.page-header__logo {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
}

.page-header__title {
  @include font(36px, 36px, $basic-white);
  @include padding-left-right(20px, 20px);
  padding-top: 20px;
  text-align: center;
  z-index: 1;
  position: relative;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    @include font-size(60px, 60px);
    @include padding-left-right(117px, 117px);
    color: $basic-black;
    text-align: left;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  @media (min-width: $desktop-width) {
    @include padding-left-right(190px, 0);
    width: 50%;
    padding-top: 180px;
  }
}

.page-header__subtitle {
  @include font(14px, 14px, $basic-white);
  @include padding-left-right(20px, 20px);
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
  position: relative;
  margin-top: 0;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    @include font-size(20px, 20px);
    @include padding-left-right(117px, 117px);
    color: $basic-black;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    @include padding-left-right(190px, 190px);
  }
}

.page-header__promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 22px;
}

.page-header__image {
  margin: auto;
  margin-top: -120px;
  z-index: 1;
  position: relative;
  top: 130px;

  @media (min-width: $desktop-width) {
    left: 39%;
    top: 41%;
    position: absolute;
  }
}


.page-header__small-image {
  display: block;
  max-width: 100%;

  @media (min-width: $tablet-width) {
    width: 552px;
  }

  @media (min-width: $desktop-width) {
    max-width: 709px;
  }
}

.page-header__button {
  width: 280px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  margin-top: 275px;

  @media (min-width: $tablet-width) {
    @include font-size(20px, 20px);
    left: 117px;
    position: absolute;
    margin-top: 40px;
    transform: none;
  }

  @media (min-width: $desktop-width) {
    left: 190px;
    position: relative;
    bottom: -37px;
  }
}
