.page-footer {
  background-color: $basic-grey;
  position: relative;
}

.page-footer__bottom-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 37px;
    padding-bottom: 30px;
  }
}

.page-footer__map-wrapper {
  position: relative;
}

.page-footer__map {
  max-width: 100%;
  height: 362px;
  margin: 0 auto;
  position: relative;
  background-image: url("../img/google-map-small.jpg");
  background-color: $background-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $tablet-width) {
    height: 400px;
    background-image: url("../img/google-map-medium.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/google-map-medium@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/google-map.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/google-map@2x.jpg");
    }
  }

  @media (min-resolution: 2dppx) {
    max-width: 100%;
    height: 362px;
    margin: 0 auto;
    position: relative;
    background-image: url("../img/google-map-small@2x.jpg");
    background-color: $background-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.page-footer__marker {
  @include size(57px, 53px);
  position: absolute;
  top: 39%;
  left: 42%;
  z-index: 1;
  background-image: url("../img/google-map-pin.svg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    @include size(113px, 106px);
    top: 36%;
    left: 43%;
  }

  @media (min-width: $desktop-width) {
    top: 33%;
    left: 63%;
  }
}

.page-footer__copyright-link {
  @include font(16px, 18px, $special-dark-grey, 400, $secondary-font-family);
  display: flex;
  justify-content: space-between;
  padding: 12px 0 14px 0;
  transition: all 0.35s ease-in-out;

  @media (min-width: $tablet-width) {
    padding: 8px 0 14px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 0 14px 0;
  }

  .page-footer__logo-academy {
    margin-top: 10px;
    transition: all 0.35s ease-in-out;
    fill: $special-grey-3;

    @media (min-width: $tablet-width) {
      margin-left: 20px;
    }
  }

  &:hover .page-footer__logo-academy {
    fill: $basic-green;
  }

  &:focus .page-footer__logo-academy {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__logo {
  padding-top: 40px;
  position: relative;
  border-bottom: 1px $grey-line solid;
  padding-bottom: 34px;
  transition: all 0.35s ease-in-out;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding-top: 25px;
    padding-bottom: 19px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus,
  &active {
    opacity: 0.3;
  }
}

.page-footer__livemap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;

  iframe {
    width: 100%;
    height: 400px;

    @media (max-width: $mobile-width-only) {
      height: 362px;
    }
  }
}
