.products__box {
  display: flex;
  justify-content: center;
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    margin-top: 142px;
    align-items: center;
  }
}


.products__link {
  width: 50%;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  img {
    @media (min-width: $tablet-width) {
      width: 168px;
      position: absolute;
      bottom: 36px;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (min-width: $desktop-width) {
      bottom: 41px;
    }
  }
}

.products__title {
  @include font(16px, 20px, $special-dark-grey-2);
  @include font-uppercase;
  margin: 0 auto;
  display: inline-block;
  max-width: 100px;

  @media (min-width: $tablet-width) {
    @include font-size(20px, 24px);
    text-align: center;
    max-width: 150px;
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
    padding-left: 5px;
  }
}

.products__item {
  border-top: 1px $grey-line solid;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    background-color: $basic-grey;
    border-top: none;
    margin-bottom: 82px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }

  &:last-child,
  &:nth-last-child(2) {
    @media (min-width: $tablet-width) and (max-width: 1399px) {
      margin-bottom: 18px;
    }
  }

  &--extra {
    @media (min-width: $mobile-width-only) {
      border: none;
    }

    @media (min-width: $tablet-width) {
      background-color: $basic-white;
      border: 1px $basic-grey solid;
    }
  }
}

.products__item-content dd,
.products__item-content dt {
  @include font(12px, 16px, $special-dark-grey, 400, $secondary-font-family);

  @media (min-width: $tablet-width) {
    @include font-size(16px, 16px);
  }
}

.products__item-content {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    border-bottom: 1px $special-grey solid;
    padding-bottom: 6px;
    padding-top: 9px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 7px;
  }
}

.products__details {
  width: 50%;

  @media (min-width: $tablet-width) {
    @include padding-left-right(38px, 38px);
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    @include padding-left-right(40px, 38px);
  }
}

.products__button {
  margin-bottom: 24px;
  padding: 8px 26px 8px 26px;

  @media (min-width: $tablet-width) {
    padding: 8px 26px 8px 26px;
    margin-left: 40px;
    margin-right: 36px;
    margin-top: 21px;
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 20px;
    margin-left: 38px;
    margin-right: 38px;
    margin-bottom: 38px;
  }
}

.products__list {
  padding-top: 39px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding-top: 164px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
    row-gap: 90px;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 166px;
  }
}

.products__list-content {
  padding-top: 11px;

  @media (min-width: $desktop-width) {
    padding-top: 16px;
  }
}

.products__title-all {
  @include font(16px, 20px, $special-black);
  @include font-uppercase;
  text-align: center;
  padding-top: 29px;
  margin-bottom: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    @include font-size(20px, 22px);
    padding-top: 41px;
    padding-left: 75px;
    padding-right: 75px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 38px;
    padding-left: 45px;
    padding-right: 45px;
  }

  &::before {
    @include size(30px, 30px);
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translateX(-50%);
    content: "";
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: $tablet-width) {
      @include size(60px, 60px);
      top: -66px;
    }
  }
}

.products__title-all-details {
  @include font(12px, 16px, $special-black, 400, $secondary-font-family);
  text-align: center;
  padding-bottom: 10px;
  margin-top: 7px;

  @media (min-width: $tablet-width) {
    @include font-size(16px, 18px);
    @include padding-left-right(75px, 75px);
    padding-top: 15px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    @include padding-left-right(38px, 38px);
  }
}

.products__title-all-plus {
  display: block;
  margin: auto;
}

.products__details-all {
  padding-top: 15px;
  padding-bottom: 22px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 83px;
  }
}

.products__button-show-all {
  color: $special-dark-grey;
  background-color: $basic-grey;
  padding: 8px 26px 8px 26px;

  @media (min-width: $tablet-width) {
    margin: 38px;
    position: relative;
    margin-bottom: 10px;
  }
}
