.site-list__item a {
  @include font(20px, 20px, $basic-black, 500);
  @include font-uppercase;
  padding: 22px 0 22px 0;
  display: block;
  text-align: center;
}

.site-list__item {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    background: $grey-line;
    left: 0;
    width: 100%;
  }
}
