.page-body {
  @include font(16px, 24px, $basic-black, 400, $secondary-font-family);
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: $basic-white;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

*,
*::before,
*::after,
html {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper {
  width: 100%;
  max-width: 767px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1439px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
    max-width: 1440px;
  }

  /*   &--subpages {
    @media (min-width: $tablet-width) {
      padding-left: 70px;
      padding-right: 65px;
    }
  } */
}

.title {
  @include font(36px, 40px, $basic-black);
  margin: 0 auto;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    @include font-size(60px, 60px);
    padding-top: 45px;
  }
}
