@mixin global-font {
  font-family: $primary-font-family;
}

@mixin font($size, $lineheight, $color, $weight:400, $family: $primary-font-family) {
  font-family: $family;
  font-size: $size;
  line-height: $lineheight;
  color: $color;
  font-weight: $weight;
}

@mixin font-size($size, $lineheight) {
  line-height: $lineheight;
  font-size: $size;
}

@mixin padding-left-right($padding-left, $padding-righ) {
  padding-left: $padding-left;
  padding-right: $padding-righ;
}

@mixin font-uppercase($transform: uppercase) {
  text-transform: $transform;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin align-vertical() {
  top: 50%;
  transform: translateY(-50%);
}

@mixin background-size($width, $height) {
  background-size: $width, $height;
  width: $width;
  height: $height;
}

@mixin greenline() {
  &::after {
    content: "";
    display: inline-block;
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #68b738;
    margin-right: -100%;
    right: -19px;
    top: 14px;
    vertical-align: top;

    @media (min-width: $tablet-width) {
      top: 20px;
      right: -36px;
    }
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      display: inline-block;
      position: relative;
      width: 100%;
      height: 2px;
      background-color: #68b738;
      margin-left: -106%;
      left: 30px;
      top: 20px;
      vertical-align: top;
    }
  }
}
